Repository zhiyaol/deltakit, changes with the labels that .github/labeler.yml gives for each.
All labels: deltakit-explorer, deltakit-circuit, deltakit-core, deltakit-decode, documentation, dev

.github/labeler.yml:

deltakit-explorer:
  - changed-files:
      - any-glob-to-any-file: deltakit-explorer/**

deltakit-circuit:
  - changed-files:
      - any-glob-to-any-file: deltakit-circuit/**

deltakit-core:
  - changed-files:
      - any-glob-to-any-file: deltakit-core/**

deltakit-decode:
  - changed-files:
      - any-glob-to-any-file: deltakit-decode/**

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**

dev:
  - changed-files:
    - any-glob-to-any-file: ['.github/**', 'tools/**']

Introduce reporters
  deltakit-explorer/src/deltakit_explorer/analysis/budget/gradient/estimation.py
  deltakit-explorer/src/deltakit_explorer/analysis/budget/post_processing.py
  deltakit-explorer/src/deltakit_explorer/analysis/budget/reporters.py
Labels: deltakit-explorer

Format
  deltakit-explorer/src/deltakit_explorer/analysis/budget/generation.py
  deltakit-explorer/src/deltakit_explorer/analysis/budget/noise.py
Labels: deltakit-explorer

Add temporary main.py
  deltakit-explorer/src/deltakit_explorer/analysis/budget/main.py
Labels: deltakit-explorer

Add scipy dependency to code-explorer
  deltakit-explorer/pyproject.toml
Labels: deltakit-explorer

Update outdated documentation
  deltakit-explorer/src/deltakit_explorer/analysis/budget/gradient/estimation.py
Labels: deltakit-explorer

Add docstring
  deltakit-explorer/src/deltakit_explorer/analysis/budget/gradient/estimation.py
Labels: deltakit-explorer

rename output
  .github/workflows/labeled_tests.yml
Labels: dev

ci: fix labeled tests workflow (#75)
  .github/workflows/labeled_tests.yml
  tools/transform_labels.py
Labels: dev

ci: fix CI for labeled tests (#77)
  .github/workflows/labeled_tests.yml
  tools/transform_labels.py
Labels: dev

Added NumPy-specific lint rules
  deltakit-decode/tests/analysis/test_run_all_analysis_engine.py
  ruff.toml
Labels: deltakit-decode

Added NumPy-specific lint rules (#78)
  deltakit-decode/tests/analysis/test_run_all_analysis_engine.py
  ruff.toml
Labels: deltakit-decode

docs(guide): adding guide notebooks and supporting them with fixes (#9)
  .github/workflows/docs.yml
  .readthedocs.yaml
  deltakit-circuit/src/deltakit_circuit/__init__.py
  deltakit-circuit/src/deltakit_circuit/_basic_types.py
  deltakit-explorer/src/deltakit_explorer/_api/_api_v2_client.py
  deltakit-explorer/src/deltakit_explorer/_api/_client.py
  deltakit-explorer/src/deltakit_explorer/_cloud_decoders.py
  deltakit-explorer/src/deltakit_explorer/codes/__init__.py
  deltakit-explorer/src/deltakit_explorer/types/_types.py
  docs/guide/adding_noise.md
  docs/guide/analysis.ipynb
  docs/guide/circuit_generation.md
  docs/guide/decoding.md
  docs/guide/getting_started.md
  docs/guide/simulation.md
  docs/index.rst
  docs/setup.md
  pyproject.toml
Labels: deltakit-explorer, deltakit-circuit, documentation, dev

fixing errors caused by enforcing warn_return_any
  deltakit-circuit/src/deltakit_circuit/_qubit_identifiers.py
  deltakit-core/src/deltakit_core/decoding_graphs/_explained_dem_parsing.py
  deltakit-explorer/src/deltakit_explorer/codes/_css/_css_code.py
  deltakit-explorer/src/deltakit_explorer/types/_data_string.py
  mypy.ini
Labels: deltakit-explorer, deltakit-circuit, deltakit-core

chore: improve ruff check rules on deltakit_decode (#43)
  deltakit-decode/ruff.toml
  deltakit-decode/src/deltakit_decode/analysis/_matching_decoder_managers.py
  deltakit-decode/src/deltakit_decode/noise_sources/_matching_noise_sources.py
Labels: deltakit-decode

ci: Add explicit permissions to workflows (#60)
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/run_notebooks.yml
  .github/workflows/static_code_analysis.yml
  .github/workflows/tests.yml
Labels: dev

chore: enable mypy `warn_unused_ignores` and address associated errors (#79)
  deltakit-circuit/src/deltakit_circuit/_circuit.py
  deltakit-circuit/src/deltakit_circuit/_gate_layer.py
  deltakit-circuit/src/deltakit_circuit/_qubit_identifiers.py
  deltakit-circuit/src/deltakit_circuit/gates/_abstract_gates.py
  deltakit-circuit/src/deltakit_circuit/gates/_two_qubit_gates.py
  deltakit-core/src/deltakit_core/decoding_graphs/_decoding_graph_tools.py
  deltakit-core/src/deltakit_core/decoding_graphs/_dem_parsing.py
  deltakit-core/src/deltakit_core/decoding_graphs/_syndromes.py
  deltakit-decode/src/deltakit_decode/noise_sources/_generic_noise_sources.py
  deltakit-decode/src/deltakit_decode/noise_sources/_matching_noise_sources.py
  deltakit-decode/tests/analysis/test_empirical_decoding_error_distribution.py
  deltakit-explorer/src/deltakit_explorer/_api/_gql_client.py
  mypy.ini
Labels: deltakit-explorer, deltakit-circuit, deltakit-core, deltakit-decode

chore: remove failed attempts to make mypy recognize that output is a float
  deltakit-core/src/deltakit_core/decoding_graphs/_explained_dem_parsing.py
  mypy.ini
Labels: deltakit-core

Update deltakit-core/src/deltakit_core/decoding_graphs/_explained_dem_parsing.py
  deltakit-core/src/deltakit_core/decoding_graphs/_explained_dem_parsing.py
Labels: deltakit-core

Add plotting functionality to
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
Labels: deltakit-explorer

chore: fix some `warn_return_any` rule violations (#80)
  deltakit-circuit/src/deltakit_circuit/_qubit_identifiers.py
  deltakit-core/src/deltakit_core/decoding_graphs/_explained_dem_parsing.py
  deltakit-explorer/src/deltakit_explorer/codes/_css/_css_code.py
  deltakit-explorer/src/deltakit_explorer/types/_data_string.py
  mypy.ini
Labels: deltakit-explorer, deltakit-circuit, deltakit-core

chore: ignore `pip` vulnerability reported by `pip-audit` (#84)
  .github/workflows/static_code_analysis.yml
  pyproject.toml
Labels: dev

chore: check if token exists before running docs build (#85)
  .github/workflows/docs.yml
Labels: dev

chore: simplify .readthedocs.yaml; add `-W` (fail on warnings) to custom build command (#86)
  .readthedocs.yaml
Labels: none

chore: run `ruff format` with pre-commit (#69)
  .github/workflows/static_code_analysis.yml
  .pre-commit-config.yaml
  deltakit-circuit/src/deltakit_circuit/_circuit.py
  deltakit-circuit/src/deltakit_circuit/gates/_two_qubit_gates.py
  docs/conf.py
  docs/guide/decoding.md
  docs/guide/simulation.md
  ruff.toml
  tests/qmem/test_qmem.py
  tests/unit/test_decoding_graph_tools_with_stim.py
  tools/extract_version_notes.py
  tools/propagate_version.py
  tools/set_pre_version.py
  tools/transform_labels.py
Labels: deltakit-circuit, documentation, dev

docs: amend pixi setup instruction (#93)
  CONTRIBUTING.md
Labels: none

docs: links should point to `docs` (built from `docs-live` branch) (#74)
  README.md
  deltakit-circuit/README.md
  deltakit-core/README.md
  deltakit-decode/README.md
  deltakit-explorer/README.md
  docs/index.rst
Labels: deltakit-explorer, deltakit-circuit, deltakit-core, deltakit-decode, documentation

Created modules for visualization and colors
  deltakit-core/src/deltakit_core/constants.py
Labels: deltakit-core

visualization module for plotting LEPPR fit
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
  deltakit-explorer/src/deltakit_explorer/analysis/_visualization.py
Labels: deltakit-explorer

remove duplicate import
  deltakit-explorer/src/deltakit_explorer/analysis/_visualization.py
Labels: deltakit-explorer

feat: better logical error probability per round (#67)
  deltakit-explorer/src/deltakit_explorer/analysis/_analysis.py
  deltakit-explorer/tests/analysis/test_analysis.py
  mypy.ini
Labels: deltakit-explorer

tests: allow mypy to run from top level (#95)
  .github/workflows/static_code_analysis.yml
  .pre-commit-config.yaml
  deltakit-decode/pyproject.toml
  deltakit-decode/ruff.toml
  deltakit-explorer/pyproject.toml
  deltakit-explorer/src/deltakit_explorer/_api/_client.py
  deltakit-explorer/src/deltakit_explorer/qpu/_noise/_physical_noise.py
  mypy.ini
Labels: deltakit-explorer, deltakit-decode, dev

tests: allow `pytest` to run from top level (#94)
  deltakit-decode/tests/__init__.py
  deltakit-explorer/tests/__init__.py
  deltakit-explorer/tests/helpers/__init__.py
Labels: deltakit-explorer, deltakit-decode

dev: add `mypy_path` to fix pre-commit (#97)
  mypy.ini
Labels: none

Created LEPPR and Lambda Visualization modules
  deltakit-core/src/deltakit_core/constants.py
  deltakit-explorer/src/deltakit_explorer/analysis/_visualization.py
Labels: deltakit-explorer, deltakit-core

format constants.py
  deltakit-core/src/deltakit_core/constants.py
Labels: deltakit-core

Add compute_logical_error_per_round to __init__.py
  deltakit-explorer/src/deltakit_explorer/analysis/__init__.py
  deltakit-explorer/src/deltakit_explorer/analysis/_visualization.py
Labels: deltakit-explorer

move visualization code into existing visualisation moduel
  deltakit-explorer/src/deltakit_explorer/analysis/_visualization.py
  deltakit-explorer/src/deltakit_explorer/visualisation/__init__.py
  deltakit-explorer/src/deltakit_explorer/visualisation/_visualisation.py
Labels: deltakit-explorer

add deltakit-core dependencies to deltakit-explorer. update example analysis notebook.
  docs/guide/analysis.ipynb
  pixi.toml
Labels: documentation

Add colors for scientific plotting. Update example notebook
  deltakit-core/src/deltakit_core/constants.py
  docs/guide/analysis.ipynb
Labels: deltakit-core, documentation

format constants.py
  deltakit-core/src/deltakit_core/constants.py
Labels: deltakit-core
