Repository zhiyaol/deltakit, changes with the labels that .github/labeler.yml gives for each.
All labels: deltakit-explorer, deltakit-circuit, deltakit-core, deltakit-decode, documentation, dev

.github/labeler.yml:

deltakit-explorer:
  - changed-files:
      - any-glob-to-any-file: deltakit-explorer/**

deltakit-circuit:
  - changed-files:
      - any-glob-to-any-file: deltakit-circuit/**

deltakit-core:
  - changed-files:
      - any-glob-to-any-file: deltakit-core/**

deltakit-decode:
  - changed-files:
      - any-glob-to-any-file: deltakit-decode/**

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**

dev:
  - changed-files:
    - any-glob-to-any-file: ['.github/**', 'tools/**']

Make plotting function modular, code style improvement
  deltakit-core/src/deltakit_core/constants.py
  deltakit-explorer/src/deltakit_explorer/analysis/__init__.py
  deltakit-explorer/src/deltakit_explorer/visualisation/_visualisation.py
  docs/guide/analysis.ipynb
Labels: deltakit-explorer, deltakit-core, documentation

add error handling
  deltakit-explorer/src/deltakit_explorer/visualisation/_visualisation.py
Labels: deltakit-explorer

update function name for clarity
  deltakit-explorer/src/deltakit_explorer/visualisation/_visualisation.py
Labels: deltakit-explorer

name change in all files
  deltakit-explorer/src/deltakit_explorer/visualisation/__init__.py
  docs/guide/analysis.ipynb
Labels: deltakit-explorer, documentation

include specific guidance for conda users to avoid pixi/conda interaction bug
  CONTRIBUTING.md
Labels: none

include specific guidance for conda users to avoid pixi/conda interaction bug
  CONTRIBUTING.md
Labels: none

delete duplicate
  CONTRIBUTING.md
Labels: none

DEV: add upper bound on supported Python (#105)
  .github/workflows/docs.yml
  .github/workflows/labeled_tests.yml
  .github/workflows/static_code_analysis.yml
  .readthedocs.yaml
  pixi.toml
Labels: dev

Fixed token setting tests by changing 403 to 401 (#104)
  deltakit-explorer/tests/server/test_api_v2_client.py
  deltakit-explorer/tests/server/test_token.py
Labels: deltakit-explorer

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

docs: guidance on how conda users can use pixi without conda/pixi interaction issues (#103)
  CONTRIBUTING.md
Labels: none

dev: add support for package managers other than `pixi` (#92)
  .gitignore
  CONTRIBUTING.md
  environment.yml
  pyproject.toml
Labels: none

enable jupyter notebook downloads
  docs/examples/notebooks/demo/1. setup.ipynb
  docs/examples/notebooks/demo/2. quick start.ipynb
  docs/examples/notebooks/demo/3. experiment step by step.ipynb
  docs/examples/notebooks/demo/4. advanced demo.ipynb
  docs/examples/notebooks/demo/solutions.ipynb
  docs/examples/notebooks/google_qmem_experiment/decode.ipynb
  docs/examples/notebooks/google_qmem_experiment/noise_analysis.ipynb
  docs/examples/notebooks/qmem/rotated_planar_quantum_memory_plots.ipynb
  docs/examples/notebooks/simulation/ac_decoding.ipynb
  docs/examples/notebooks/simulation/leakage-aware_decoding.ipynb
  docs/examples/notebooks/simulation/leakage_demo.ipynb
  docs/examples/notebooks/simulation/server_simulation.ipynb
  docs/examples/notebooks/simulation/shot_analysis.ipynb
  docs/examples/notebooks/simulation/stim_simulation.ipynb
  docs/examples/notebooks/template_notebook.ipynb
  docs/guide/adding_noise.md
  docs/guide/analysis.ipynb
  docs/guide/authentication.md
  docs/guide/circuit_generation.md
  docs/guide/decoding.md
  docs/guide/getting_started.md
  docs/guide/simulation.md
  docs/setup.md
Labels: documentation

enable downloading .md files
  docs/guide/adding_noise.md
  docs/guide/authentication.md
  docs/guide/circuit_generation.md
  docs/guide/decoding.md
  docs/guide/getting_started.md
  docs/guide/simulation.md
  docs/setup.md
Labels: documentation
